
/* START UNIVERSAL STYLE  */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.bdr{
    border: 1px red solid;
}
/* END UNIVERSAL STYLE  */

main {
    width: 100%;
    background-color: rgb(248, 243, 243);
}

/* START BOOK DETAILS PAGE  */
.single-book-card{
    background-color: rgba(229, 250, 244, 0.479) ;
    box-shadow: 2px 2px 5px gray;
}
.price{
    color: rgb(4, 160, 4);
}
/* END BOOK DETAILS PAGE  */






/* ==========4. START MEDIA QUARY ============  */
/* Large screens (lg) and up (min-width: 992px) */
@media screen and (min-width: 992px) {
    /* Your CSS rules for large screens here */
  }
  
  /* Medium screens (md) and up (min-width: 768px) */
  @media screen and (min-width: 768px) {
    /* Your CSS rules for medium screens here */
    .single-book-image{
        border-right: dotted 2px gray;
    }
  }
  
  /* Small screens (sm) and up (min-width: 576px) */
  @media screen and (min-width: 576px) {
    /* Your CSS rules for small screens here */
  }
  


/* ========== END MEDIA QUARY ============  */